/obj
/project/obj
/project/vc110.pdb
/project/all_objs
/deploy.zip
/ndll/*/*.a
/ndll/*/*.hash
/ndll/*
.DS_Store
/lib.src/build.log
/lib.build/

# Include the NDLLs for people who can't build.
!/ndll/*/*.ndll